---
title: Serviços
name: servicos
class: hero brand
---

<div class="wrapper large" data-grid="cols-2 spacing">

    <div class="servicos-item">
        <h4 class="servicos-title">PRODUÇÃO AUDIOVISUAL</h4>
        <div class="wrapper svg-container inherit-color">{% include svg/play-button.svg %}</div>
        <p>Videoaulas escolares ou para treinamento de colaboradores;
            Vídeos institucionais;
            Cobertura de eventos;
            Edição e mixagem de áudio e vídeo.</p>
    </div>

    <div class="servicos-item">
        <h4 class="servicos-title">PRODUÇÃO EDITORIAL</h4>
        <div class="wrapper svg-container inherit-color">{% include svg/magazine.svg %}</div>
        <p>Materiais didáticos impressos;
            Manuais;
            Revistas;
            Periódicos.</p>
    </div>

    <div class="servicos-item">
        <h4 class="servicos-title">PRODUÇÃO PARA WEB</h4>
        <div class="wrapper svg-container inherit-color">{% include svg/web-dev.svg %}</div>
        <p>Hotsites;
            Blogs;
            Newsletters;
            Pesquisas estatísticas;
            Aplicativos de apoio pedagógico.</p>
    </div>

    <div class="servicos-item">
        <h4 class="servicos-title">COMUNICAÇÃO</h4>
        <div class="wrapper svg-container inherit-color">{% include svg/communication.svg %}</div>
        <p>Mídias Sociais;
            Branding;
            Endomarketing;
            Mobile marketing;
            Design gráfico.</p>
    </div>

</div>

<footer class="page-content" data-grid="center">
    <a href="#contato" data-cell="shrink" data-text="lg" data-btn="">Solicite um serviço</a>
</footer>