---
layout: default
---

<section class="page-content hero light section-hero">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="" class="svg-container inherit-color">
      {% include favicon.svg %}
    </div>
    <div data-cell="">
      <h2>COPA</h2>
      <p><strong>CRIATIVIDADE &#8226; ORGANIZAÇÃO &#8226; PROCESSOS &#8226; APRENDIZAGEM</strong></p>
      <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis.</p>
      <p><a href="#" data-btn="">Saiba mais!</a> <a href="#" data-btn="">Entre em contato...</a></p>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="wrapper">
    <h2>Serviços</h2>
    <p>VEJA COMO VAMOS REVOLUCIONAR OS PROCESSOS DE COMUNICAÇÃO DA SUA EMPRESA</p>
  </div>
  <div class="wrapper" data-grid="spacing">
    <div data-cell="1of3">
      <div class="svg-container">{% include favicon.svg %}</div>
      <h4>Coisa um</h4>
    </div>
    <div data-cell="1of3">
      <div class="svg-container">{% include favicon.svg %}</div>
      <h4>Coisa dois</h4>
    </div>
    <div data-cell="1of3">
      <div class="svg-container">{% include favicon.svg %}</div>
      <h4>Coisa três</h4>
    </div>
  </div>
</section>

<section class="page-content hero dark section-camera">
  <div class="wrapper small">
    <h2>Área de destaque dark</h2>
    <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis. <a href="#">Cor dos links</a></p>
  </div>
</section>

<section class="page-content hero brand">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="" class="svg-container inherit-color">
      {% include favicon.svg %}
    </div>
    <div data-cell="">
      <h2>Área de destaque brand</h2>
      <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis. <a href="#">Cor dos links</a></p>
      <p><a href="#" data-btn="">Link com estilo de botão</a> <a href="#" data-btn="round">Link com estilo de botão</a></p>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="1of3">
      <h1 class="page-heading">Posts</h1>
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
    <div data-cell="2of3">
      <p>Assumenda nulla impedit sint est id. Eius, veritatis officiis optio architecto tenetur neque aliquam necessitatibus doloribus, consectetur eveniet odio perspiciatis dolores veniam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur autem ullam alias sapiente, minus nulla corporis aspernatur! Temporibus, repellendus enim dignissimos nemo a, expedita reprehenderit voluptatibus odio. Dolorem, minus, necessitatibus.</p>
      <p>Qui non fuga cumque aut tempora quae harum minima recusandae libero nobis delectus, et ipsa numquam nisi assumenda eum molestias ipsum voluptatibus.</p>
    </div>
  </div>
</section>
