---
layout: default
---

<section class="page-content hero">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="" class="svg-container inherit-color">
      {% include favicon.svg %}
    </div>
    <div data-cell="">
      <h2>Área de destaque normal</h2>
      <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis. <a href="#">Cor dos links</a></p>
      <p><a href="#" data-btn="">Link com estilo de botão</a> <a href="#" data-btn="round">Link com estilo de botão</a></p>
    </div>
  </div>
</section>

<section class="page-content hero light">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="" class="svg-container inherit-color">
      {% include favicon.svg %}
    </div>
    <div data-cell="">
      <h2>Área de destaque light</h2>
      <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis. <a href="#">Cor dos links</a></p>
      <p><a href="#" data-btn="">Link com estilo de botão</a> <a href="#" data-btn="round">Link com estilo de botão</a></p>
    </div>
  </div>
</section>

<section class="page-content hero dark">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="" class="svg-container inherit-color">
      {% include favicon.svg %}
    </div>
    <div data-cell="">
      <h2>Área de destaque dark</h2>
      <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis. <a href="#">Cor dos links</a></p>
      <p><a href="#" data-btn="">Link com estilo de botão</a> <a href="#" data-btn="round">Link com estilo de botão</a></p>
    </div>
  </div>
</section>

<section class="page-content hero green">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="" class="svg-container inherit-color">
      {% include favicon.svg %}
    </div>
    <div data-cell="">
      <h2>Área de destaque green</h2>
      <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis. <a href="#">Cor dos links</a></p>
      <p><a href="#" data-btn="">Link com estilo de botão</a> <a href="#" data-btn="round">Link com estilo de botão</a></p>
    </div>
  </div>
</section>

<section class="page-content hero brand">
  <div class="wrapper" data-grid="center spacing">
    <div data-cell="" class="svg-container inherit-color">
      {% include favicon.svg %}
    </div>
    <div data-cell="">
      <h2>Área de destaque brand</h2>
      <p>Optio, accusamus commodi deserunt doloribus, ducimus dolorum, consequatur ea impedit nam animi dolor similique fugiat officiis. <a href="#">Cor dos links</a></p>
      <p><a href="#" data-btn="">Link com estilo de botão</a> <a href="#" data-btn="round">Link com estilo de botão</a></p>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="wrapper">
    <h1 class="page-heading">Posts</h1>
  
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</section>
