<article class="page-content">
    <header>
        <div class="wrapper">
            <h2>Para a sala de aula</h2>
        </div>
    </header>
    <div class="wrapper large" data-grid="center spacing">
        <figure data-cell="shrink order-1">
            <div class="circ">
                <img src="{{ site.baseurl }}/img/educacional/classroom.jpg" alt="Sala de aula" width="450">
            </div>
        </figure>
        <div data-cell="1of2">
            <ul>
                <li>Videoaulas de aprofundamento, revisão ou orientação de projetos;</li>
                <li>Materiais complementares em formato de texto, para download;</li>
                <li>Projeto gráfico e impressão de material didático próprio;</li>
                <li>Edição de fontes para referência em aula (músicas, filmes, programas de TV);</li>
                <li>Livros infantis animados e outros aplicativos, como urna eletrônica,</li>
                <li>galeria de arte e exercícios para lousa digital;</li>
                <li>Músicas e cantigas para sala de aula ou festividades;</li>
                <li>Pesquisa e organização de objetos de aprendizagem para uso em sala de aula;</li>
                <li>Design para customização de salas de aula;</li>
            </ul>
        </div>
    </div>
</article>

<article class="page-content">
    <header>
        <div class="wrapper">
            <h2>Para professores, coordenação e colaboradores</h2>
        </div>
    </header>
    <div class="wrapper large" data-grid="center spacing">
        <figure data-cell="shrink">
            <div class="circ">
                <img src="{{ site.baseurl }}/img/educacional/teamwork.jpg" alt="Profissionais de educação" width="450">
            </div>
        </figure>
        <div data-cell="1of2">
            <ul>
                <li>Formatação de apresentações para uso de professores e coordenação, em aulas ou reuniões pedagógicas;</li>
                <li>Pesquisas estatísticas e sistemas de avaliação de satisfação online;</li>
                <li>Vídeos para capacitação e reciclagem de colaboradores;</li>
            </ul>
        </div>
    </div>
</article>

<article class="page-content">
    <header>
        <div class="wrapper">
            <h2>Para fora da escola</h2>
        </div>
    </header>
    <div class="wrapper large" data-grid="center spacing">
        <figure data-cell="shrink order-1">
            <div class="circ">
                <img src="{{ site.baseurl }}/img/educacional/family.jpg" alt="Fora da escola" width="450">
            </div>
        </figure>
        <div data-cell="1of2">
            <ul>
                <li>Cobertura fotográfica e em vídeo de atividades escolares, datas comemorativas e outros eventos acadêmicos;</li>
                <li>Newsletters e informativos;</li>
                <li>Blog dos professores;</li>
                <li>Hotsites para projetos educacionais;</li>
                <li>Conteúdos para uso em redes sociais (vídeos, imagens ou ilustrações);</li>
            </ul>
        </div>
    </div>
</article>